body {
    margin: 0;
}
.index-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #141414;
    font-family: 'Helvetica Neue',Helvetica,Arial,Microsoft Jhenghei,sans-serif;
}
/* Top Bar Css Start*/
.index-page .header-box {
    height: 50px;
}
.index-header {
    position: fixed;
    color: #fff;
    width: 100%;
    display: flex;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}
.index-header .web-logo{
    font-family: 'Roboto Condensed';
    font-size: 2.1vw;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    padding: 0px 20px;
    line-height: 50px;
}
.index-header .nav-by-type {
    padding: 0px 20px;
    line-height: 50px;
    font-size: 1.4vw;
    color: #FF5722;
    font-weight: 700;
}
.index-header .nav-user-interface {
    right: 0px;
    font-size: 1vw;
    font-weight: 700;
    position: absolute;
    display: flex;
    line-height: 50px;
}
.index-header .nav-user-interface .nav-element {
    padding: 0px 10px;
}
.index-header .nav-user-interface .nav-element .user-pic-icon {
    vertical-align: middle;
    height: 32px;
    width: 32px;
}
/* Top Bar Css End*/

/* Content Css Start*/
.index-content .mainView {
    padding: 0 0 50px;
    z-index: 0;
    overflow: hidden;
}
.index-content .video-row {
    position: relative;
    margin: 3vw 1vw;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.index-content .video-row .rowTitle {
    position: relative;
    font-size: 1.4vw;
    color: rgba(0,255,10,0.7);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
}
.index-content .video-row .video-box{
    display: -webkit-inline-box;
}
.index-content .video-row .vido-box-img:hover {
    width: 24vw;
    height: 14VW;
}
.index-content .video-row .vido-box-img {
    width: 15vw;
    height: 10vw;
    background-size: cover;
    transform: translate3d(0px,0px,0px);
    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.5,0,0.1,1);
    transition-delay: 0ms;
}
/* Content Css End*/